/* 
    Document   : style
    Created on : 04-jul-2013, 19:10:52
    Author     : Administrador
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

body{
   
}

